* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #2e5dd6;
    color: #fff;
    padding: 18px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    transition: 0.3s;
}

.nav-links li a:hover {
    opacity: 0.7;
}



/* parttwo */

body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #222;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
}

.text {
    max-width: auto;
}

.greeting {
    font-size: 48px;
    margin: 0;
    font-weight: 700;
}


.title {
    margin: 0;
    font-size: 62px;
    font-weight: 800;
    animation: colorChange 5s linear infinite;
}

.subtitle {
    margin-top: 10px;
    font-size: 18px;
  
}


.avatar-wrap {
    width: 220px;
    /* border-radius: 50%; */
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%
}

/* Color changing animation */
@keyframes colorChange {
    0%   { color: #e6a800; }
    25%  { color: #ff4d6d; }
    50%  { color: #3d5afe; }
    75%  { color: #2ecc71; }
    100% { color: #e6a800; }
}

/* Responsive */

@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 25px;
        padding: 40px 20px;
    }
    
    .title {
        font-size: 46px;
    }
}

/* part theree */

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* About section */


#about h2,
#skills h2 {
    font-size: 38px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#about p {
    max-width: auto;
    line-height: 1.6;
    color: #333;
    margin-left: 20px;
}

/* Skills Section */


#skills {
    margin-top: 50px;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}


.skill-box {
    background: #0a2ea0;
    color: white;
    width: 400px;
    height: 100px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}


.skill-box h3 {
    font-size: 32px;
    margin: 0;
}

.skill-box p {
    margin-top: 8px;
    font-size: 16px;
    opacity: 0.9;
}

.skill-box:hover {
    transform: translatey(-8px);
    color: #f4f00d;
    box-shadow: 0 0 25px 8px #ff4d6d;
    /* transform: scale(0.97); */
}


/* project section */
/* part five */

#project h2{
    font-size: 38px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.projectcard{
    display: flex;
    justify-content: center;
}

.projectcardtwo{
    display: flex;
    justify-content: center;
}

/* part six */

#contact{
     font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
}



body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Page Title */
h1 {
    margin: 40px 50px;
}

/* Center Form Card */
.contact-box {
    width: 350px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* Labels */
.contact-box label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

/* Inputs */
.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #9fd6ff;
    border-radius: 3px;
    margin-bottom: 15px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #003c9d;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Footer */
footer {
    background: #003c9d;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
   margin-top: 30px;
}

/* Back to top */
.back-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #003c9d;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    text-decoration: none;
}